<!DOCTYPE html>
<html lang="en">
  <%- include("./_head") %>
  <body>
    <%- include("./_nav", {nav: nav}) %>

    <div class="p-3">
      <h1 class="underline text-3xl font-bold mb-3">🤓 Instructions 🤓</h1>
      <ul class="list-disc ml-5">
        <li>
          Go to the <a href="/birthdays" class="underline">Birthdays</a> or
          <a href="/christmas" class="underline">Christmas</a> page
        </li>
        <li>Follow the <span>Sheet URL</span> and request edit access</li>
        <li>Add your info to the spreadsheet!</li>
      </ul>
    </div>
  </body>
</html>
